.reflect-text {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%; // Lățime completă pentru centrare
  }
  
  .text {
    font-size: 1em; // Ajustează dimensiunea fontului pentru text
    color: black;
    text-align: center;
  }
  
  .text-reflection {
    position: absolute;
    top: 100%; // Poziționează reflexia exact sub text
    left: 0;
    right: 0;
    font-size: 1em; // Ajustează dimensiunea fontului pentru reflexie
    color: black;
    opacity: 0.5; // Setează opacitatea pentru efect de reflexie
    transform: scaleY(-1); // Inversează textul pentru efect de reflexie
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); // Gradient pentru reflexie
    font-style: italic; // Setează stilul italic pentru reflexie
    transition: transform 0.5s, opacity 0.5s; // Adaugă tranziția pentru transformare și opacitate
  }
  
  .reflect-text:hover .text-reflection {
    transform: scaleY(-2); // Elongate the reflection on hover
  }
  