<footer>
    <p>Acesta este un proiect școlar!</p>
    <address>
      <a href="mailto:vrinceanurazvan2003@gmail.com"><i class="fas fa-envelope"></i> vrinceanurazvan2003@gmail.com</a><br>
      <a href="tel:+40746985932"><i class="fas fa-phone"></i> +40746985932</a><br>
      <a href="https://wa.me/40746985932" target="_blank"><i class="fab fa-whatsapp"></i> Chat pe WhatsApp</a><br>
      <a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica,+Bucuresti" target="_blank"><i class="fas fa-map-marker-alt"></i> Facultatea de Matematică și Informatică, București</a>
    </address>
    <a href="#" id="link-top"><div id="triunghi">&#129081;</div></a>
    <p>&copy; 2024 Suplimente Fitness. Toate drepturile rezervate.</p>
    <p>&copy; 2024 Videoclip de Testare</p>
  </footer>
  