<header>
  <nav class="main-nav">
    <h1>Suplimente Fitness <i class="fas fa-dumbbell"></i></h1>
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="hamburger-menu">
      <div class="hamb-line"></div>
      <div class="hamb-line"></div>
      <div class="hamb-line"></div>
    </label>
    <ul class="menu-items">
      <li><a href="/home" class="home" data-text="Acasa"></i> Acasa</a></li>
      <li><a href="#welcome" data-text="Prezentare">Prezentare</a></li>
      <li>
        <a href="#" data-text="Pagini">Pagini</a>
        <ul class="submenu">
          <li><a href="/test" data-text="Test">Test</a></li>
          <li><a href="/pagina2" data-text="Pagina 2">Pagina 2</a></li>
          <li><a href="/pagina3" data-text="Pagina 3">Pagina 3</a></li>
        </ul>
      </li>
      <li>
        <a href="#" data-text="Secțiuni">Secțiuni</a>
        <ul class="submenu">
          <li><a href="#products" data-text="Produse">Produse</a></li>
          <li><a href="#events" data-text="Evenimente">Evenimente</a></li>
          <li><a href="#announcements" data-text="Anunțuri">Anunțuri</a></li>
          <li><a href="#users" data-text="Utilizatori online">Utilizatori online</a></li>
        </ul>
      </li>
      <li><a href="#diverse" data-text="Diverse conținut">Diverse conținut</a></li>
    </ul>
  </nav>
</header>
